/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
#animal-photos{
	width: 100vw;
   height: 100vw;

	dispaly:flex;
	justify-content:space-between;
	background-color:black; 
}

	
}

